In [1]:
import psycopg2
import pandas as pd

In [2]:
def create_database():
    # connect to defaut database
    conn=psycopg2.connect('host=127.0.1 dbname=postgres user=postgres password=root')
    conn.set_session(autocommit=True)
    cur= conn.cursor()

    # create sparkfy database with utf8
    cur.execute('drop database if exists accounts')
    cur.execute('create database accounts')
    
    # close connection
    conn.close()

    # connect to sparkfy database
    conn=psycopg2.connect('host=127.0.1 dbname=accounts user=postgres password=root')
    cur= conn.cursor()

    return cur, conn

In [3]:
cur,conn = create_database()

In [4]:
query_country=(
    """
        create table if not exists accounts_country(
            country_code varchar primary key,
            short_name varchar,
            table_name varchar,
            long_name varchar,
            currency_unit varchar
        )
""")
cur.execute(query_country)
conn.commit()

In [5]:
query_data=(
    """
        create table if not exists accounts_data(
            country_name varchar,
            country_code varchar,
            indicator_name varchar,
            year_1995 numeric,
            year_2000 numeric,
            year_2005 numeric,
            year_2010 numeric,
            year_2014 numeric
            
        )
""")
cur.execute(query_data)
conn.commit()

In [6]:
query_series=(
    """
        create table if not exists accounts_series(
            series_code varchar,
            topic varchar,
            indicator_name varchar,
            long_definition varchar
        )
""")
cur.execute(query_series)
conn.commit()

In [7]:
query_insert_country=(
    """
        insert into accounts_country(
            country_code,
            short_name,
            table_name,
            long_name,
            currency_unit
        )values(%s,%s,%s,%s,%s)
""")

In [8]:
query_insert_data=(
    """
        insert into accounts_data(
            country_name,
            country_code,
            indicator_name,
            year_1995,
            year_2000,
            year_2005,
            year_2010,
            year_2014
        ) values()
""")

In [9]:
query_insert_series=(
    """
        insert into accounts_series(
            series_code,
            topic,
            indicator_name,
            long_definition
            
        ) values(%s,%s,%s,%s)
""")

In [10]:
accounts_country= pd.read_csv('data/Wealth-AccountsCountry.csv')
# selecting specific colluns
accounts_country_clean= accounts_country[['Code','Short Name', 'Table Name','Long Name','Currency Unit']]

In [11]:
accounts_data= pd.read_csv('data/Wealth-AccountData.csv')
# dropping specific colluns. axis=1 -> collum
# accounts_data_clean= accounts_data.drop(['Unnamed: 9'], axis=1)

In [12]:
accounts_series= pd.read_csv('data/Wealth-AccountSeries.csv')
accounts_series=accounts_series[['Code','Topic','Indicator Name','Long definition']]

In [15]:
# lista = accounts_country_clean.head(35)
# for i, row in lista.iterrows():
#     cur.execute(query_insert_country,list(row))

# just wanna commit in table
# conn.commit()

In [14]:
for i, row in accounts_series.iterrows():
    cur.execute(query_insert_series,list(row))

conn.commit()